.custom-menu {
    position: relative;
    display: inline-block;
}

.custom-menu-dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: #292524;
    border: 1px solid #ef4444;
    border-radius: 6px;
    padding: 10px;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    gap: 5px;
    font-size: small;
}

.custom-menu-dropdown-content .cus-menu-item {
    padding: 12px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.custom-menu-show {
    display: flex;
}
