.itemAlign_dropbtn {
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.itemAlign_dropdown {
    position: relative;
    display: inline-block;
}

.itemAlign_dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.itemAlign_dropdown:hover .itemAlign_dropdown-content {
    display: block;
}
